<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pozicija MSS</title>
    <link rel="stylesheet" href="static/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
  
  </head>
  <body>
    <h1>International Space Station Tracker</h1>

    <div class="coords-container">
      <h2>Opći Podatci</h2>
      <p>
        <strong>Tvoja lokacija:</strong>
        Lat: <span id="usr_lat">{{ user_lat }}</span>, 
        Lon: <span id="usr_lon">{{ user_lon }}</span>
      </p>

      <p>
        <strong>ISS Lokacija:</strong>
        <span id="iss-coords">Loading...</span>
        <span id="iss-lat"></span><span id="iss-lon"></span>
      </p>
      <p>
        <strong>ISS Podatci:</strong>
        <span id="iss-coords"></span>
        <span id="iss-alt"></span>
        <span id="iss-vel"></span>
        <span id="distance"></span>
      </p>
    </div>

    <div class="astronauts-list">
      <h2>Astronauti u svemiru: {{ astronaut_num }}</h2>
      <ul>
        {% for astronaut in astronauts %}
        <li>{{ astronaut }}</li>
        {% endfor %}
      </ul>
    </div>
    <div id="div_unos">
      <form action="/reset_location" method="POST">
        <button id="btn_pocetna" type="submit">Moja lokacija</button>
      </form>
    <form action="/set_location" method="POST">
      <input type="text" name="city" placeholder="Unesi grad" id="input_grad">
      <button type="submit" id="btn_grad">Postavi lokaciju</button>
    </form>
    </div>
    <div class="passes">
      <h2>Nadolazeći preleti ISS-a</h2>
      {% if passes %}
        <ul>
          {% for p in passes %}
            <li>Vrijeme: {{ p.risetime }} — Trajanje: {{ p.duration }} sekundi</li>
          {% endfor %}
        </ul>
      {% else %}
        <p><em>Trenutno nije moguće dohvatiti podatke o preletima.</em></p>
      {% endif %}

    </div>

    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@joergdietrich/leaflet.terminator@1.1.0/dist/leaflet.terminator.min.js"></script>
    <script src="{{ url_for('static', filename='iss_updater.js') }}"></script>

    <button id="center_iss">Centriraj na ISS</button>
    <button id="center_user">Centriraj moju lokaciju</button>

  </body>
</html>
